.bashrc
.directory
.env
.gcloudignore
.github
.gitignore
.DS_Store
.~lock.*

*.py[cod]
*.sqlite3
*.sqlite3-journal
*.xlsx

__pycache__/
/.git
/.vscode
/instance/settings.py
/pyproject.toml
/tests
/venv

/rest-client
